
package com.tugas;
import java.time.LocalDate;
import java.time.Period;
import java.util.Scanner;

public class PhoneBookReminder {
    private String name;
    private String phoneNumber;
    private LocalDate birthday;
